@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-black text-white font-sans;
}


@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}
